/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 26, 22, 12:53:18 AM
    Author     : Admin
*/

.about-section{
    -ms-transform: translate(-50%, 0);
    background: white;
    border-radius: 40px;
    margin-top: 7rem;
    position: absolute;
    padding: 2rem 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;   
}

.about-section .about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 100%;
    width: 100%;        
}

.about-section .about-container .about-panel {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.about-section .about-container .about-panel .about-icon{
    align-items: center; 
    background: var(--brown2);
    border-radius: 50%;
    color: white;
    display:flex;
    font-size: 48px;
    height: 70px;
    justify-content: center;
    width: 70px;
    padding: 12px;
    margin-right: 20px;
}

.about-section .about-container .about-panel .about-text h2{
    font-family: var(--font3);
    font-size: 1.5rem; 
    padding: 20px 0 15px 0;
}


.about-section .about-container .about-panel .about-text{
    color: var(--brown2);
    font-family: "Helvetica";
    font-size: 1.2rem; 
    text-align: justify;
}

@media (max-width: 1300px){
    .about-section{
        width: 90%;
    }
}

@media (max-width: 1050px){
    .about-section{
        width: 95%;
    }

    .about-section .about-container .about-panel {
        margin: 1rem 0;
    }


}

@media (max-width: 900px){
    .about-section{     
        margin-top: 7rem;
        transform: translate(-50%, 0);
        top: 0;
    }
    .about-section .about-container .about-panel .about-text h2{
        font-size: 1.2rem;
        margin-left: 4rem;
        margin-bottom: 1rem;
    }

    .about-section .about-container .about-panel .about-text{
        font-size: 1rem;
    }

    .about-section .about-container .about-panel .about-icon{
        position: absolute;
        font-size: 24px;
        height: 50px;
        width: 50px;
    }
}   

@media (max-width: 620px){
    .about-section{
        border-radius: 20px;
        padding: 1.2rem;
    }
}