/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 6, 22, 9:42:36 PM
    Author     : Admin
*/

.events-section{
    -ms-transform: translate(-50%, 0);
    background: white;
    border-radius: 40px;
    margin-top: 7rem;
    position: absolute;
    padding: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;   
    height: 100%;

}

.events-container{
    font-family: var(--font5);
    display: flex;
    height: 100%;
    width: 100%; 
}

.events-container h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.events-container .events-list-container{
    width: 30%;
    height: 100%;
}

.events-container .events-list-container ul{
    height: 90%;
    overflow: auto;
}
.events-container .events-list-container ul::-webkit-scrollbar {
    display: none;
    display: -ms-none;
}

.events-container .events-list-container .planned-events li{    
    font-family: var(--font6);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.events-container .events-list-container .organized-events {    
    padding-left: 0;
}

.events-container .events-list-container .organized-events li {
    list-style-type: none;
    text-align: center;
    font-family: var(--font6);
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.events-container .events-list-container .organized-events li div{    
    width: 100%;
}

.events-container .events-list-container .organized-events li div img{
    width:100%;
}

.events-container .upcoming-events-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 35%;
    height: 100%;
}

.events-container .upcoming-events-container h3{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.events-container .upcoming-events-container h3  a{
    color: var(--brown1);
}

.events-container .upcoming-events-container .calendar-container{
    height: auto;
}

.events-container .upcoming-events-container .event-buttons{
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: space-around;
}

.events-container .upcoming-events-container .event-buttons .button{
    align-items: center;
    background: var(--brown5);
    border: 1px solid var(--brown1);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-family: var(--font2);
    font-size: 1.7rem;
    height: 4rem;
    margin: 0 1rem;
    padding: 0px 10px;
}

@media(max-width: 1024px){
    .events-section{
        width: 95%;
    }
}

@media(max-width: 820px){
    .events-section{
        height: 250%;
        width: 95%;
    }

    .events-container{
        height: 100%;
        flex-direction: column;
    }


    .events-container h2{
        font-size: 1.5rem;
    }

    .events-container .events-list-container{
        height: 30%;
        width: 100%;
        padding-bottom: 2rem;
    }

    .events-container .upcoming-events-container{
        margin: 0 auto;
        height: 100%;
        width: 100%;
        padding: 2rem 0;
    }

    .events-container .events-list-container .planned-events li{    
        font-family: var(--font6);
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }


    .events-container .events-list-container .organized-events li div{    
        width: 100%;
    }

    .events-container .events-list-container .organized-events li div img{
        width:100%;
    }

    .events-container .upcoming-events-container .calendar-container{
        height: 70%;
    }


}


@media(max-width: 500px){

    .events-section{
        padding: 1rem;
    }
    .events-container .upcoming-events-container .event-buttons .button{
        align-items: center;
        background: var(--brown5);
        border: 1px solid var(--brown1);
        border-radius: 50px;
        color: white;
        cursor: pointer;
        font-family: var(--font2);
        font-size: 1.2rem;
        height: 3rem;
        margin: 0;
        padding: 0px 10px;
    }
}