/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 23, 22, 9:53:09 PM
    Author     : Admin
*/

* {

    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body,html{
    overflow: auto;
    -ms-overflow-style: none;
    height: 100%;
}


body{
    background-image: url("../background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* CSS for top bar */
.bar{    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    display: flex;
    height: 6rem;
    position: fixed;
    transition: background 250ms ease-in;
    width: 100%;
    z-index: 2;
}

.bar #check{
    display:none;
}

.checkbtn { 
    display: none;
    font-size: 20px;
    color: black;
    float: right;
    line-height: 8vh;
    cursor: pointer;
}


.bar .nav-content{   
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bar .nav-logo{
    height: 4rem;
    margin: 1rem;
    width: 4rem;
}


.bar .logo-container .nav-logo2{
    display: none;
}

.bar .nav-title{ 
    align-items: center;
    display: flex; 

    font-family: var(--font2);
}

.bar .nav-title a{
    color: black;
    text-decoration: none; 
}

.bar .nav-options {
    display:flex;
    align-items: center;
    cursor: pointer; 
    font-family: var(--font1);
    font-size: 1.2rem;
    font-weight: 600; 

}

.bar .nav-options .option{
    color: black;
    padding: 0 1rem;
    text-decoration: none;
    /*    transition: all 0.3s;  */
}

.bar .button{
    align-items: center;
    background: var(--brown1);
    border: 1px solid var(--brown1);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-family: var(--font1);
    font-size: 1.2rem;
    height: 40px;
    width:100px;
    margin: 0 1rem;
    padding: 0px 20px;
}


.modal-section {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    -ms-overflow:auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

@media (max-width: 1050px){
    .checkbtn{
        position: absolute;
        display:block;
    }

    #check:checked ~ .nav-content{
        left: 0;

    }

    .bar{
        padding: 2rem;
    }

    .bar .logo-container{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .bar .logo-container .nav-logo2{
        display: inline;

    }

    .bar .nav-logo{
        display: none;
    }

    .bar .nav-content{
        position:fixed;
        top: 6rem;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        background: var(--brown1);
        height: 100%;
        width: 100%;
        left: -100%;
        transition: 0.5s ease;

    }

    .bar .nav-title{ 
        width: 100%;
        padding: 1rem 2rem;
    }

    .bar .nav-title h1{
        font-size: 1.5rem;
    }

    .bar .nav-options{
        display: flex;
        flex-direction: column;
        align-items:  flex-start;
        width: 100%;
    }

    .nav-content .nav-options .option{
        padding: 1.2rem 2rem;
    }

    .bar .button-nav-form{
        width: 100%; 
    }
    .bar .button{
        font-size: 1.2rem;
        text-align: left;
        padding: 0 2rem;
        height: 80px;
        width:100%;
        margin: 0;
        border: 0;
        border-radius: 0;
        background: var(--brown2);
    }
}

