/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 19, 22, 3:08:40 AM
    Author     : Admin
*/

.profile-section{
    -ms-transform: translate(-50%, 0);
    background: white;
    border-radius: 40px;
    font-family: var(--font5);
    margin-top: 10rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40rem; 
    padding: 2rem 4rem;
}

.profile-section .button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: var(--brown1);
    border: 1px solid var(--brown1);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    width: 100%;
    padding: 20px 50px;
    margin-bottom: 2rem;
}

.button span{
    margin-right: 20px;
    font-size: 36px;
}

.profile-verify-msg{
    display: flex;
}

.profile-verify-msg span{
    font-size: 24px;
    margin-right: 10px; 
}

.profile-verify-msg p{
    font-size: 1.2rem;
}

@media(max-width: 800px){
    .profile-section{
        margin-top: 8rem;
        width: 90%;
        padding: 2rem 4rem;
    }

    .profile-section .button{
        font-size: 1.5rem;
        border-radius: 20px;
    }
}

@media(max-width: 500px){
    .profile-section{
        width: 95%;
        border-radius: 20px;
        padding: 2rem 20px;
    }

    .profile-section .button{
        font-size: 1.5rem;
        padding: 20px;
        border-radius: 20px;
    }

    .button span{
        margin-right: 20px;
        font-size: 24px;
    }
}


@media(max-width: 375px){
    .profile-section .button{
        font-size: 1.1rem;
        padding: 20px;
        border-radius: 20px;
    }

}