/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 20, 22, 1:21:59 AM
    Author     : Admin
*/

.personal-records-section-0{
    -ms-transform: translate(-50%, 0);
    background: white;
    border-radius: 40px;
    font-family: var(--font5);
    margin-top: 8rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60rem; 
    padding: 2rem 4rem;
}


.personal-records-section-0 .personal-records-container h3{
    font-family: var(--font5);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.personal-records-section-1{
    -ms-transform: translate(-50%, 0);
    background: white;
    border-radius: 40px;
    font-family: var(--font5);
    margin-top: 8rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60rem; 
    padding: 1rem 4rem;
}

.personal-records-section-2{
    -ms-transform: translate(-50%, 0%);
    background: white;
    border-radius: 40px;
    font-family: var(--font5);
    position: absolute;
    left: 50%;
    margin-top: 8rem;
    transform: translate(-50%, 0%);
    width: 60rem; 
    padding: 1rem 4rem;
}

.personal-records-container{
    width: 100%;
    text-align: center;
}

.personal-records-container .personal-records-profile-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-records-container .personal-records-profile-container .personal-records-photo{
    font-size: 150px;
    width: 150px;
}

.personal-records-container .personal-records-profile-container .name-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.personal-records-container .personal-records-profile-container .name-container .name{
    color: var(--red1);
    font-family: var(--font3);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.personal-records-container .personal-records-profile-container .name-container .dpt{
    font-family: var(--font3);
    font-size: 1rem;
}

.personal-records-container h3{
    font-family: var(--font5);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.personal-records-info-container0{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 20px;
}

.personal-records-info-container1{
    width: 100%;
    display: grid;    
    align-content: center;
    justify-content: center;
    grid-template-columns: 20% 70% 20px;    
}

.personal-records-info-container1 label{
    display: flex;
    align-items: center;
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}

.personal-records-info-container1 input{
    width: 100%;
    border: none;
    background: var(--grey2);
    font-family: var(--font5);
    font-size: 1.2rem;
    padding: 5px 20px;
    overflow: auto;
}

.personal-records-info-container1 select{
    background-color:  var(--grey2);
    font-family: var(--font5);
    font-size: 1rem;
    border: none;
    padding: 5px 10px;
}

.personal-records-info-container1 input:focus{
    outline: none;
}

.personal-records-info-container1 .personal-records-edit{
    display: flex;
}

.personal-records-info-container1 .edit-icon{
    margin-left: 20px;
}

.personal-records-info-container0 .verification-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font5);
    font-size: 1.2rem;
}

.personal-records-info-container0 .verification-container .verification-icon{
    font-size: 36px;
    margin-right: 10px;

}

.personal-records-info-container0 .personal-records-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.personal-records-info-container0 .personal-records-buttons .button{
    align-items: center;
    background: var(--brown2);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-family: var(--font2);
    font-size: 2.2rem;
    height: 3rem;
    padding: 0px 50px;
}


@media(max-width: 1024px){
    .personal-records-section-1, .personal-records-section-2{
        width: 90%;
        padding: 2rem;
    }
}

@media(max-width: 800px){
    .personal-records-info-container0 .personal-records-buttons .button{
        border-radius: 30px;
        font-size: 1.8rem;
        height: 3rem;
        padding: 0px 30px;
    }

}

@media(max-width: 600px){
    .personal-records-info-container0 .personal-records-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personal-records-info-container0 .personal-records-buttons .button{
        margin-bottom: 1rem;
        width: 80%;
    }
}

@media(max-width: 500px){
    .personal-records-section-1{
        width: 95%;
        padding: 1.2rem;
    }

    .personal-records-container h3{
        font-size: 1.8rem;
    }

    .personal-records-container .personal-records-profile-container{
        flex-direction: column;
        align-items: center;

    }

    .personal-records-container .personal-records-profile-container .personal-records-photo{
        font-size: 130px;
        /*        width: 130px;*/
    }

    .personal-records-container .personal-records-profile-container .name-container{
        align-items: center;
    }

    .personal-records-container .personal-records-profile-container .name-container .name{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .personal-records-container .personal-records-profile-container .name-container .dpt{
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }


    .personal-records-info-container1{
        width: 100%;
        display: flex;    
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .personal-records-info-container1 label{
        display: flex;
        align-items: center;
        font-family: var(--font2);
        font-size: 1.2rem;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
    }

    .personal-records-info-container1 input{
        font-size: 1rem;
        padding: 10px;
    }

    .personal-records-info-container0 .personal-records-buttons .button{
        width: 70%;
        font-size: 1.5rem;
        height: 2.5rem;
    }

    .personal-records-info-container0 .verification-container{
        font-size: 1rem;
    }

    .personal-records-info-container0 .verification-container .verification-icon{
        font-size: 24px;
    }
}

