/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 12, 22, 3:53:56 PM
    Author     : Admin
*/

.all-records-section{
    -ms-transform: translate(-50%, -50%);
    background: white;
    border-radius: 40px;
    height: 45rem;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90rem;
}

.all-records-section .all-records-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: 2rem auto;

}

.all-records-section .all-records-container .all-records-head{
    font-family: var(--font5);
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.all-records-section .all-records-container h3{
    text-align: right;
    width: 80%;
    margin: 0 0 1rem 0;

}

.all-records-section .all-records-container .record-select{
    font-family: var(--font5);
    color: var(--brown1);

}

.all-records-section .all-records-container .table-container{
    width: 90%;
    overflow: auto;
}

.all-records-section .all-records-container .table-container::-webkit-scrollbar {
    display: none;
}


.all-records-section .all-records-container .table-container .records-table{
    font-family: var(--font5);
    border-spacing: 5px;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
}


.all-records-section .all-records-container .table-container .records-table th,td{
    border: 1px solid var(--brown1);
    padding: 10px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    transition: 1.5s;
    border-collapse: collapse;
}


.all-records-section .all-records-container .table-container .records-table th:hover, td:hover{
    max-width: 1000px;
}

.all-records-section .all-records-container .table-container .records-table th{
    background: var(--brown2);
    color: white;
}

.all-records-section .all-records-container .table-container .records-table th:nth-child(1), td:nth-child(1){
    text-align: center;
    width: 60px;
}


.all-records-section .all-records-container .table-container .records-table th:nth-child(13), td:nth-child(13){
    text-align: center;
    vertical-align: central;
    width: 60px;
}


/*end of table*/

.all-records-section .all-records-container .all-records-buttons{
    display: flex;
    margin-top: 1rem;
    width: 90%;
    justify-content: space-around;
}

.all-records-section .all-records-container .all-records-buttons .button{
    align-items: center;
    background: var(--brown2);
    border: 1px solid var(--brown1);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-family: var(--font2);
    font-size: 2.2rem;
    height: 3rem;
    padding: 0px 50px;
}

/*CHECKBOX CSS*/
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    border: 1px solid var(--brown1);
    position: absolute;
    top: -5px;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
/*.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}*/

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    align-content: center;
    border: 3px solid #f1f1f1;

}

/* Add styles to the form container */
.form-container {
    max-width: 500px;
    padding: 50px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .submit {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}