/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 28, 22, 1:32:26 AM
    Author     : Admin
*/

.signup-section{
    -ms-transform: translate(-50%, 0);
    background: white;
    border-radius: 40px;

    margin-top: 8rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 45rem; 
    box-shadow: 20px 20px var(--brown1);
}

.signup-section .signup-container{
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin: 2rem auto;
    width: 95%;
}

.signup-section .signup-container h2{
    color: var(--brown2);
    font-family: var(--font3);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.signup-section .signup-container h3{
    color: var(--brown2);
    font-family: var(--font2);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.signup-section .signup-container a{
    color: var(--brown4);
    font-family: var(--font2);
}

.signup-section .signup-container .input-container{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.signup-section .signup-container .input-container label{
    color: var(--brown2);
    font-family: var(--font2);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;

}


.signup-section .signup-container .input-container .input{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--grey1);
    border: none;
    border-radius: 10px;
    height: 5rem;
    margin-bottom: 20px;

}



.signup-section .signup-container .input-container .input input{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: var(--font1);
    height: 5rem;
    width: 100%; 
    padding: 20px 40px;

}

.signup-section .signup-container .input-container .input .psw-show{
    position: absolute;
    left: 85%;
    cursor: pointer;
    font-size: 36px;
}

.signup-section .signup-container .privacy-policy{
    margin-bottom: 20px;
    font-family: var(--font2);
    font-size: 1.6rem;
    width: 70%;
}

.signup-section .signup-container  button{
    background: var(--brown1);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: var(--font2);
    font-size: 3rem;
    height: 4rem;
    margin-bottom: 20px;
    width: 70%;
}

@media(max-width: 800px){
    .signup-section{
        width: 90%;
    }

    .signup-section .signup-container h2{
        font-size: 1.8rem;
    }

    .signup-section .signup-container h3{
        font-size: 1.5rem;
    }
}

@media(max-width: 500px){
    .signup-section{
        width: 95%;
        border-radius: 20px;
    }
}

@media(max-width: 500px){
    .signup-section{
        width: 95%;
        border-radius: 20px;
    }

    .signup-section .signup-container h2{
        font-size: 1.5rem;
    }

    .signup-section .signup-container h3{
        font-size: 1.3rem;
    }

    .signup-section .signup-container  button{
        font-size: 2rem;
    }

    .signup-section .signup-container .input-container{
        width: 85%;
    }

    .signup-section .signup-container .input-container .input {
        height: 4rem;
    }

    .signup-section .signup-container .input-container .input input{
        height: 4rem;
        font-size: 1.2rem;
    }

    .signup-section .signup-container .input-container .input .psw-show{
        font-size: 24px;
    }

    .signup-section .signup-container .input-container .input .input-icon{
        font-size: 24px;

    }

    .signup-section .signup-container .privacy-policy{
        font-size: 1.2rem;
        width: 85%;
    }

    .signup-section .signup-container  button{
        height: 4rem;
        width: 85%;
    }


}