/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 25, 22, 2:15:17 PM
    Author     : Admin
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 26, 22, 12:53:18 AM
    Author     : Admin
*/

.verification-section{
    -ms-transform: translate(-50%, -50%);
    background: white;
    border-radius: 30px;
    height: 50rem;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;   
}

.verification-section .verification-container{
    display: flex;
    align-items:center;
    flex-direction: column;
    top: 50%;
    margin: auto;
    height: 100%;
    width: 95%; 
    transform: translate(0%, 10%);

}


.verification-section .verification-container .input{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--grey1);
    border: none;
    border-radius: 10px;
    height: 5rem;
    margin-bottom: 20px;
}

.verification-section .verification-container .input input{
    display: flex;
    align-items: center;
    background-color: rgba(174, 146, 121,0.1);
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: var(--font1);
    height: 5rem;
    width: 100%; 
    padding: 30px 190px;
    margin-top: 100px;
   
}

.verification-section .verification-container h1{
    font-family: var(--font2);
    font-size: 80px;
}
.verification-section .verification-container h2{
    margin-top: 20px; 
    font-family: var(--font2);
    font-size: 35px;
    text-align: justify;
    width:95%;
    word-wrap: break-word;
}
.verification-section .verification-container h3{
    margin-top: 60px; 
    font-family: var(--font2);
    font-size: 20px;
}
.verification-section .verification-container button{
    background: #AE9279;
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: 5rem;
    border: 1px solid #AE9279;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: var(--font2);
    font-size: 4rem;
    height: 8rem;
    margin-top: 30px;
    width: 40rem;
    position: relative;
}
    