<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddRecordServlet</servlet-name>
        <servlet-class>AddRecordServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>PDFServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>SignUpServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginVerification</servlet-name>
        <servlet-class>LoginVerification</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PersonalRecordServlet</servlet-name>
        <servlet-class>PersonalRecordServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateRecordServlet</servlet-name>
        <servlet-class>UpdateRecordServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TransferRecordServlet</servlet-name>
        <servlet-class>TransferRecordServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <servlet-class>DeleteRecordServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MyAccountServlet</servlet-name>
        <servlet-class>MyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerification</servlet-name>
        <servlet-class>UserVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>ChangePassServlet</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>ForgotPass</servlet-class>
        <init-param>
            <param-name>DBdriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>DBurl</param-name>
            <param-value>jdbc:derby://localhost:1527/userDB</param-value>
        </init-param>
        <init-param>
            <param-name>DBusername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>DBpassword</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassVerification</servlet-name>
        <servlet-class>.ForgotPassVerification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginVerification</servlet-name>
        <url-pattern>/LoginVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerification</servlet-name>
        <url-pattern>/UserVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountServlet</servlet-name>
        <url-pattern>/MyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecordServlet</servlet-name>
        <url-pattern>/AddRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/PDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalRecordServlet</servlet-name>
        <url-pattern>/PersonalRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRecordServlet</servlet-name>
        <url-pattern>/UpdateRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferRecordServlet</servlet-name>
        <url-pattern>/TransferRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <url-pattern>/DeleteRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/ChangePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassVerification</servlet-name>
        <url-pattern>/ForgotPassVerification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
	    30
	</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>Exceptions.AuthenticationExceptionUsername</exception-type>
        <location>/errorPages/AuthenticationErrorUser.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Exceptions.AuthenticationExceptionPassword</exception-type>
        <location>/errorPages/AuthenticationErrorPass.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Exceptions.NullValueException</exception-type>
        <location>/errorPages/Error404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>Exceptions.SessionException</exception-type>
        <location>/errorPages/Error_Session.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/Error404.jsp</location>
    </error-page>
</web-app>
