/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 25, 21, 6:19:40 PM
    Author     : Admin
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;


}

html,body{

  height: 100%;
  place-items: center;

}


label.logo h1{
    display: inline-block;
    color: #0075f6;
    font-size: 4vh;
    line-height: 8vh;
    padding-left: 16vw;
    font-weight: bold;
}

.content{
    text-align: center;
    position: absolute;
    top: 55%; 
    left: 50%;
     transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1 {
    height: 100vh;
    width: 100vw;
}

.wlcm-box {
    height: 70vh;
    width: 70vw;
    background-color: black;
    background-position: center;
    background-size: cover;
    top: 55%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    box-shadow: 10px 10px 25px gray;
    z-index: 1;
}

.check{
    position: relative;
    height: 175px;
    width: 175px;
    display: inline-block;
    border: 5px solid #0075f6;
    border-radius: 50%;
    animation: circle-in 0.8s ease-in;

}


label .check-icon{
  position: absolute;
  content: "";
  top: 50%;
  left: 40px;
  transform: scaleX(-1) rotate(135deg);
  height: 75px;
  width: 38px;
  border-top: 4px solid #0075f6;
  border-right: 4px solid #0075f6;
  transform-origin: left top;
  animation: check-icon 0.8s ease;
}

@keyframes check-icon {
  0%{
    height: 0;
    width: 0;
    opacity: 1;
  }
  20%{
    height: 0;
    width: 38px;
    opacity: 1;
  }
  40%{
    height: 75px;
    width: 38px;
    opacity: 1;
  }
  100%{
    height: 75px;
    width: 38px;
    opacity: 1;
  }
}

input{
  display: none; 
}

label .check-icon{
  display: block;
}

@keyframes circle-in{
  0%{
    opacity: 0.2;
  }
  20%{
    opacity: 0.4;
  }
  40%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}

.content h2{
    font-size: 3vw;
    color: white;
    font-weight: 700;
    margin-bottom: 2vw;
    margin-top: 10%;
    transform: translateY(-100px);
    opacity: 0;
    -webkit-animation: slidedown 0.5s ease-out 0.5s forwards; 

}

@keyframes slidedown{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
 
}

.go-home{
    color: white;
    display: inline-block;
    padding: 2.2vh 2vw;
    background-image: linear-gradient(45deg, #0075f6 20%, #055dc1 30%, #0900c3 70%);
    background-size: 150%;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    border-radius: 999px;
    font-size: 1.5vw;
    transition: 0.4s ease-out;
    
    transform: translateY(200px);
    opacity: 0;
    -webkit-animation: slideup 0.5s ease-out 0.5s forwards;
}

@keyframes slideup{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.go-home:hover{
    color: #ededed;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


@media (max-width: 1024px){
    .skele-tea{
        display: none;
    }
    .go-home{
        padding: 10px 30px;
       
    }
    
}

@media (max-width: 500px){
    nav{
        
        text-align: center;
    }
    
    label.logo h1{
        margin-top: 10px;
        padding:0;
    }
    .container h1{
        font-size: 30vw;
        
    }
    
    .wlcm-box{
        box-shadow: none;
        height: 90vh;
        width: 100vw;
    }
    
    .container{
        min-height: 100vh;
    }
    
    .container h2{
        font-size: 6vw;
        margin-bottom: 5vw;
    }
    
    .go-home{
         font-size: 3vw;
    }
    
    footer{
        font-size: 3.5vw;
        margin-top: -20%;
    } 
    
    .check{
        height: 125px;
        width: 125px;
    }
    
    label .check-icon{
        left: 28px;
        height: 56px;
        width: 28px;
    }
    
    @keyframes check-icon {
    0%{
      height: 0;
      width: 0;
      opacity: 1;
    }
    20%{
      height: 0;
      width: 28px;
      opacity: 1;
    }
    40%{
      height: 56px;
      width: 28px;
      opacity: 1;
    }
    100%{
      height: 56px;
      width: 28px;
      opacity: 1;
    }
  }
}
